<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhy.management.mapper.DormReportMapper">


    <select id="statisticsDormAndBedCount" resultType="com.zhy.model.vo.DormReportCountVo">
        SELECT
            b.name,
            COUNT(dr.id) AS room_count,
            SUM(dr.capacity) AS total_beds
        FROM building b
                 JOIN dorm_room dr ON b.id = dr.building_id
        WHERE b.status = 1
        GROUP BY b.id, b.name;
    </select>

    <select id="statisticStopDorm" resultType="com.zhy.model.vo.DormStopReportVo">
        SELECT b.name, f.floor_number, dr.full_code
        FROM dorm_room dr
                 JOIN building b ON dr.building_id = b.id
                 JOIN floor f ON dr.floor_id = f.id
        WHERE dr.status = 0;
    </select>


</mapper>